<lx-tabs>

<lx-tab heading="CONTROL PORTERIA">

	<form ng-submit="ctrlport()">
	<div class="card top-space">
		<div class="p+ pt0">
				
			<lx-select  placeholder="Seleccione nombre conductor" choices="drivers" ng-model="driver.driver" id={{cont}} min-length="5" ng-change= "update()" allow-clear="true">
            <lx-select-selected>
                {{ $selected.nombre }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.nombre }}
            </lx-select-choices>
			</lx-select>
			

			<lx-select  placeholder="Entrada o Salida" choices="acciones" ng-model="driver.contacto" id={{cont}} min-length="5" ng-change= "update()" allow-clear="true">
            <lx-select-selected>
                {{ $selected.acc }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.acc }}
            </lx-select-choices>
			</lx-select>

			
			<div flex-container ="row">
				<div flex-item>
					<lx-text-field label="Destino de Servicio">
						<input type ="text" ng-model="driver.passwd">
						</lx-text-field>
					</div>
				</div>
			
			<div class="card__actions">
				<button type="submit" class="btn btn--blue btn--l btn--raised">
					Guardar
					</button>
				</div>
			
		</div>
	</div>
</form>

</lx-tab>


<lx-tab heading="ASIGNAR SERVICIO">
	<form ng-submit="asignar()">
	<div class="card top-space">
		<div class="p+ pt0">
			<div flex-container ="row">
				
			<lx-select  placeholder="Seleccione nombre conductor" choices="drivers" ng-model="driver.driver" id={{cont}} min-length="5" allow-clear="true">
            <lx-select-selected>
                {{ $selected.nombre }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.nombre }}
            </lx-select-choices>
        </lx-select>
				</div>
			
			<div flex-container ="row">
				<div flex-item>
					<lx-text-field label="Numero de Servicio">
						<input type ="number" min =1 ng-model="driver.passwd">
						</lx-text-field>
					</div>
				</div>
			
			
			<div class="card__actions">
				<button type="submit" class="btn btn--blue btn--l btn--raised">
					Asignar
					</button>
				</div>
</form>

	<form ng-submit="valorizar()">

			
			<input type ="hidden" min =1 ng-model="driver.passwd">
					
			<div class="card__actions">
				<button type="submit" class="btn btn--blue btn--l btn--raised">
					Valorizar
					</button>
				</div>
			
		</div>
	</div>
</form>

</lx-tab>


	<lx-tab heading="BUSCAR SERVICIO">


<form ng-submit="verificar()">
	<div class="card top-space">
		<div class="p+">
					<lx-text-field label="Numero Servicio">
						<input type ="number"  ng-model="num_serv">
						</lx-text-field>
			
			<div class="card__actions">
				<button type="submit" class="btn btn--blue btn--l btn--raised">
					Buscar
					</button>
				</div>
		
		</div>
	</div>
	
	<div class="card top-space">
		<div class="p+">
			
			<div flex-container ="row">
				<div flex-item>
					<lx-text-field label="Centro de Costo" fixed-label="true" icon="television" >
						<input type ="text" ng-disabled="true" ng-model="serv.cc">
						</lx-text-field>
					<lx-text-field label="Tipo de Servicio" fixed-label="true" icon="traffic-light">
						<input type ="disabled" ng-disabled="true" ng-model="serv.ts">
						</lx-text-field>
					<lx-text-field label="Tipo de Vehiculo" fixed-label="true" icon="truck">
						<input type ="disabled" ng-disabled="true" ng-model="serv.tv">
						</lx-text-field>
					<lx-text-field label="Solicitante" fixed-label="true" icon="account">
						<input type ="disabled" ng-disabled="true" ng-model="serv.username">
						</lx-text-field>
					<lx-text-field label="Hora inicio Serv" fixed-label="true" icon="clock">
						<input type ="disabled" ng-disabled="true" ng-model="serv.hora_ini">
						</lx-text-field>
					<lx-text-field label="Hora término Serv" fixed-label="true" icon="fast-forward">
						<input type ="disabled" ng-disabled="true" ng-model="serv.hora_ter">
						</lx-text-field>
					<lx-text-field label="Pasajero Principal" fixed-label="true" icon="account-multiple-plus">
						<input type ="disabled" ng-disabled="true" ng-model="serv.pasajero_principal">
						</lx-text-field>
					<lx-text-field label="Conductor" fixed-label="true" icon="car">
						<input type ="disabled" ng-disabled="true" ng-disabled="true" ng-model="serv.nombre">
						</lx-text-field>

					<lx-text-field label="Lugar Presentacion" fixed-label="true" icon="undo">
						<input type ="disabled" ng-disabled="true"  ng-model="serv.lugar_presentacion">					
						</lx-text-field>

					<lx-text-field label="Lugar Salida" fixed-label="true" icon="share">
						<input type ="disabled" ng-disabled="true"  ng-model="serv.lugar_destino">
						</lx-text-field>

					</div>
				</div>
					
		</div>
	</div>
</form>
<button class="btn btn--xl btn--blue btn--fab ng-scope" style="position: fixed; right: 50%; bottom: 3%; float: right;">
<a href="tel:+569{{serv.celular}}"><i class="icon icon--xl icon--green icon--circled mdi mdi-phone" ></i></a>
</button>

 

</lx-tab>
