<form ng-submit="verificar()">
	<div class="card top-space">
		<div class="p+ pt0">
			<h1>{{title}}</h1>

			<div flex-container ="row">
				<div flex-item>
					<lx-text-field label="Nombre Usuario">
						<input type ="text" ng-model="user.user">
						</lx-text-field>
					</div>
				</div>

			<div flex-container ="row">
				<div flex-item>
					<lx-text-field label="Contraseña">
						<input type ="password" ng-model="user.passwd">
						</lx-text-field>
					</div>
				</div>
			
			<div class="card__actions">
				<button type="submit" class="btn btn--blue btn--l btn--raised">
					Ingresar
					</button>			
				</div>
			
		</div>
	</div>
</form>
	<!--div class="card top-space">
}
}
<div class="card__actions">
	<a href="#/login/2" class="btn btn--m btn--blue btn--flat" lx-ripple>Solo ver servicios</a>
</div>
	</div-->
